# treat SIMPL as binary files
.smw binary

# Use Git LFS to manage .vtp note that -text just means to disable LF/CRLF conversion
*.vtp filter=lfs diff=lfs merge=lfs -text

# treat xlsx as binary files
.xlsx binary
