# ignore our releases directory
/releases/

# ignore zip files
*.zip

# ignore crestron app assemblies
**/*.Core3/

# ignore crestron manifest files
*._Manifest.arcv


# ignore the built output
*_archive.zip
*_compiled.zip
*.Core3.zip

# ignore output files
*.ASV
*.bin
*.cdm
*.ch5z
*.clz
*.lpz
*.sig
*.sm2
*.smft
*.spz
*.um2
*.ush
*.vtz
*.hash
*CrosspointList.txt

# ignore CEDs and SGDs as they will be regenerated when the touchpanel is recompiled
*.ced
*.sgd
*.sgd_
*.sgd2
*.bak

ProjDabs.ldb
ProjDabs.mdb

# build directory
SPlsWork/

# XPanel / Air
**/*.xexe/
**/*.xweb/
**/*.prj/
**/*.c3prj/